<div class="border-right sidebar-color" id="sidebar-wrapper">
    <div class="sidebar-sticky">
        <div class="sidebar-heading-big">
            <a href="{% link index.md %}">
                {{ site.class_number }}</a>

        </div>

        <div class="search-bar">
            <form method="get" action="https://www.google.com/search" target="_blank">
                <input class="search-box" type="hidden" name="sitesearch" value="{{ site.url }}{{ site.baseurl }}" />
                <input class="search-box" type="text" name="q" maxlength="255" placeholder="Search" />
            </form>
        </div>

        <div class="list-group list-group-flush">
            {% assign sorted_pages = site.pages | sort: "number" %}
            {% for item in sorted_pages %}
            {% if item.sidebar %}
            <!-- Look for specific front-matter tag -->
            <a {% if item.link_external %} href="{{ item.link_external }}" {% elsif item.link_internal %}
                href="{% link {{item.link_internal }} %}" {% else %} href="{% link {{item.path }} %}" {% endif %}
                class="list-item-normal list-group-item list-group-item-action  sidebar-item" {% if item.new_window
                %}target="_blank" {% endif %}>
                {% if item.icon %}
                <i class="{{ item.icon }}"></i>
                {% endif %}
                {{ item.short_title | default: item.title }}
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="sidebar-heading">Labs</div>
        <div class="list-group list-group-flush">
            {% for item in site.labs %}
            {% unless item.hide %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-normal list-group-item list-group-item-action bg-light sidebar-item">
                <span class="badge badge-pill badge-dark-grey">{{ item.number }}</span>
                {{ item.short_title | default: item.title }}

            </a>
            {% endunless %}
            {% endfor %}
        </div>

        <div class="sidebar-heading">Documentation</div>

        <div class="list-group list-group-flush">
            {% for item in site.documentation %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-narrow list-group-item list-group-item-action bg-light sidebar-item">
                {% for i in (1..{{item.indent}}) %}&emsp;{% endfor %}

                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
        </div>


    </div>
</div>